        	<div id="aboutus">
            	<h3>About Design Blog</h3>
                <div class="image_fl"><img src="images/templatemo_about.jpg" alt="about this blog"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat aliquet risus, a ornare orci scelerisque et. <a href="#" class="continue">more...</a></p>
            </div>
            
            <div class="cleaner_h20"></div>
            
            <div class="sidebar_box">
            
            	<h3>Our Sponsors</h3>
                <|i sponsor.html@{"repetir":3, "data": ""} |>

              	<div class="cleaner"></div>
                
            </div>
            
            <div class="sidebar_box">
            	<h3>Categories</h3>
                
                <ul class="sidebar_menu">
                    <li><a href="#">» Web Design Tips <span>(260)</span></a></li>
                    <li><a href="#">» Beautiful Wallpapers <span>(380)</span></a></li>
                    <li><a href="#">» Free Fonts <span>(125)</span></a></li>
                  	<li><a href="#">» Digital Illustrations <span>(215)</span></a></li>
       		  </ul>
                
          </div>
            
            
            <div class="sidebar_box">
            	<h3>Archives</h3>
                <ul class="sm_two_col">
                    <li><a href="#">» February 2048</a></li>
                    <li><a href="#">» January 2048</a></li>
                    <li class="cleaner"><a href="#">» December 2047</a></li>
                    <li><a href="#">» Novermber 2047</a></li>
                    <li><a href="#">» October 2047</a></li>
                    <li><a href="#">» September 2047</a></li>
                </ul>
                
                <div class="cleaner"></div>
            </div>
  
            
          	<div class="sidebar_box">
            
            	<h3>Newsletter</h3>
                
                <form method="get" action="#">
                  	<input id="user" name="user" class="newsletter_email" value="Enter your email address" onfocus="clearText(this)" onblur="clearText(this)" type="text">
                    <input style="font-weight: bold;" name="submit" id="submit" value="Subscribe" type="submit">
                </form>
                
            	<div class="cleaner_h20"></div>
              <a href="#" class="icon_link"><img src="images/templatemo_rss.jpg" alt="rss"></a><a href="#" class="icon_link"><img src="images/templatemo_twitter.jpg" alt="twitter"></a>
            </div>