        <div id="templatemo_header">
            
            <div id="site_title">
                <a href="http://www.templatemo.com/page/1" target="_parent">Design 
                	<span>Blog</span>
                    <span class="tagline">Designed by Free CSS Templates</span>
                </a>
            </div> 
        
            <div id="search_box">
                <form action="#" method="get">
                    <input value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" type="text">
                  <input name="Search" value="Search" id="searchbutton" title="Search" type="submit">
                </form>
            </div>
    
   
            <div class="cleaner"></div>
        
        </div> 
