<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>design blog - free css template</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="templatemo_body_wrapper">
    <div id="templatemo_wrapper">
    
        <|i header.html |>    
        <|i menu.html |>
        
        <div id="templatemo_main">
        	
            <div id="templatemo_content"><|i contenido.html |></div>
            
            <div id="templatemo_sidebar"><|i columna.html |></div>
        
        	<div class="cleaner"></div>

        </div>
        
    </div>

    <div class="cleaner"></div>

</div>

<|i pie.html |>

</body></html>