    <div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current"><span></span>Home</a></li>
            <li><a href="#"><span></span>Web 2.0</a></li>
            <li><a href="#"><span></span>Wordpress</a></li>
            <li><a href="#"><span></span>Graphics</a></li>
            <li><a href="#"><span></span>Inspirations</a></li>
            <li><a href="#"><span></span>Freebies</a></li>
        </ul>    	
        
        <div id="register_box">
        	Already Registered? Click <a href="#" class="signup">Here</a> | <a href="#" class="new_reg">Register</a>
        </div>
    </div>